/* .background{
    background-color: rgb(219,219,219);
    padding-top: 10px;
    
}
.about{
    border: 4px solid black;
    text-align: center;
    width: fit-content;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 19px;
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 60px;

}

.both{
    display: flex;
    flex-direction: row;
    

}
.softwareengineer{
    background-color: rgb(67, 66, 66);
    color: white;
    
}
.textnulla{
    text-align: center;
    font-size: smaller;
    font-family: Open Sans;
    margin-left: 400px;
    margin-right: 400px;
}
.explore{
    border: 2px solid black;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: none;
    border-top: none;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin-top: 40px;
}
.maintenanceall{
    text-align: center;
}
.textmaintenance{
    padding-bottom: 30px;
}
.design{
    margin-left: 250px;
    width: 516px;
}
.development{
    width: 516px;
    margin-left: 100px;
}
.developmenttext{
    
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}
.imgseparator{
    margin-left: 680px;
    padding-top: 50px;

}
.itberriesall{
    background-color: rgb(29,29,29);
    color: white;
    height: 250px;
    padding-left: 22px;
    padding-top: 10px;
}
.readmore{
        margin-top: 20px;
        border: 3px solid white;
        border-top: none;
        border-bottom: none;
        background-color:#1D1D1D;
        color: white;
        height: 22px;
        padding-left: 15px;
        padding-right: 15px;
}
.abouttextsize{
    font-size: 14px;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    
}
.designtext{
   font-size: 22px;
   font-family: 'Montserrat', sans-serif;
}
   
.maintenancetext{
    font-size: 14px;
    margin-left: 670px;
    margin-right: 200px;
    text-align: justify;
    width: 516px;
    padding-bottom: 200px;
    font-family: 'Open Sans', sans-serif;
    
}
.maintenance{
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
}
.imgseparatordown{
    padding-bottom: 50px;
} */

.imgseparatordown{
  padding-top: 4%;
}


/* aboutstyle.css */

.background {
    background-color: rgb(219, 219, 219);
    padding-top: 10px;
  }
  
  .about {
    border: 4px solid black;
    text-align: center;
    width: fit-content;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 19px;
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 60px;
  }
  
  .both {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
  }
  
  .softwareengineer {
    background-color: rgb(67, 66, 66);
    color: white;
  }
  
  .textnulla {
    text-align: center;
    font-size: smaller;
    font-family: Open Sans;
    margin-left: 400px;
    margin-right: 400px;
  }
  
  .explore {
    border: 2px solid black;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: none;
    border-top: none;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin-top: 40px;
  }
  
  .maintenanceall {
    text-align: center;
    padding-top: 0px;
  }
  
  .textmaintenance {
    padding-bottom: 30px;
  }
  
  .design {
    margin-left: 250px;
    width: 516px;
  }
  
  .development {
    width: 516px;
    margin-left: 100px;
  }
  
  .developmenttext {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    background: url('./images/maintenanceimgg.png');
    height: 43px;
    background-repeat: no-repeat;
  }
  
  .imgseparator {
    margin-left: 680px;
    padding-top: 35px;
  }
  
  .itberriesall {
    background-color: rgb(29, 29, 29);
    color: white;
    height: 250px;
    padding-left: 22px;
    padding-top: 10px;
  }
.readmore{
  margin-top: 20px;
        border: 3px solid white;
        border-top: none;
        border-bottom: none;
        background-color:#1D1D1D;
        color: white;
        height: 22px;
        padding-left: 15px;
        padding-right: 15px;
}

.maintenancetext{
  font-size: 14px;
  margin-left: 226px;
  width: 516px;
  padding-bottom: 200px;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  }
  .maintenancetextsize{
  

    padding-left: 44.2%;
    padding-right: 27%;
  }
  
  .designtext{
    background: url('./images/toolsimgg.png');
    height: 50px;
    background-repeat: no-repeat;
  }
  .maintenance{
    background: url('./images/toolsimgg.png');
    height: 50px;
    background-repeat: no-repeat;
  }



  @media only screen and (max-width: 768px)
  {
  .maintenancetext {
    font-size: 14px;
    margin-left: 226px;
    width: 516px;
    padding-bottom: 200px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}
.textnulla {
  text-align: center;
  font-size: 9px;
  font-family: Open Sans;
   margin-left: 0px; 
  margin-right: 0px;
}

.both {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.imgseparator {
  margin-left: 121px;
  padding-top: 50px;
}
.designtext {
  
  margin-right: 224px;
  background: url('./images/designimgg.png');
  height: 43px;
  background-repeat: no-repeat;
  
 
}
.abouttextsize {
  
  font-size: 9px;
  padding-left: 12%;
  padding-right: 10%;
}
.developmenttextsize{
font-size: 9px;
word-wrap: break-word; /* This property allows long words to be broken and wrap onto the next line */
white-space: normal; /* This property sets the text to wrap onto the next line when needed */
padding-left: 11%;
padding-right: 10%;
}
.maintenancetextsize{
  font-size: 9px;
  padding-left: 9.9%;
  padding-right: 10%;
}

.design, .development {
  text-align: center;
  width: auto;
  margin-left: 0px;
  margin-bottom: 32px;
}
.imgcolumn001 img {
  width: 100%;
  height: 312px;
}
.about {
  border: 8px solid black;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 19px;
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 60px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700px
  ;
}

.itberriesall h2{
  text-align: center;

}

.itberriesall{
  height: 350px;
  margin-top: -4px;
}

.readmore {
  margin-top: 27px;
  border: 2px solid white;
  border-top: none;
  border-bottom: none;
  background-color: #1D1D1D;
  color: white;
  height: 22px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 114px;
  /* margin-right: 43px; */
}

.developmenttext{
  margin-right: 157px;
   
    background: url('./images/maintenanceimgg.png');
    height: 43px;
    background-repeat: no-repeat;

  
}
.maintenance{
  margin-right: 148px;
  background: url('./images/toolsimgg.png');
  height: 50px;
  background-repeat: no-repeat;
}
}