.background{
    background-color: rgb(219,219,219);
}
.about{
    border: 2px solid black;
    text-align: center;
    width: fit-content;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;

}
.both{
    display: flex;
    flex-direction: row;
    

}
.softwareengineer{
    background-color: rgb(67, 66, 66);
    color: white;
    
}
.textnulla{
    text-align: center;
}
.explore{
    border: 2px solid black;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: none;
    border-top: none;
    border-left: 3px solid black;
    border-right: 3px solid black;
}
.maintenanceall{
    text-align: center;
}
.textmaintenance{
    padding-bottom: 30px;
}
.design{
    margin-left: 250px;
}
.developmenttext{
    margin-left: 300px;
}
.imgseparator{
    margin-left: 660px;
}
.itberriesall{
    background-color: rgb(29,29,29);
    color: white;
    height: 200px;
    padding-left: 22px;
    padding-top: 10px;
}
.readmore{
        margin-top: 20px;
        border: 3px solid black;
        border-top: none;
        border-bottom: none;
        background-color:#1D1D1D;
        color: white;
        height: 22px;
        padding-left: 15px;
        padding-right: 15px;
}
