.navbar {
  background-color: black;
  overflow: hidden;
  height: 50px;
}

.list {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 15px;
}

.list li {
  float: right;
}

.list a {
  border: 4px solid transparent; /* Added 'solid' for border */
  display: block;
  color: white;
  padding: 14px 16px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none; /* Remove default underline */
  border-radius: 30px; /* Add border-radius for a round shape */
}

.list a:hover {
  background-color: white;
  color: black; /* Change text color on hover to black */
  padding: 10px 10px; /* Adjust padding to maintain size */
}

.list a:active {
  background-color: black;
  color: white; /* Change text color when active to white */
}
