.navbar{
  background-color: black;
  overflow: hidden;
}

.list {
  margin: 0;
  padding: 0;
}

.list li{
  float: right;
}
.list a {
  display: block;
  color: white;
  padding: 14px 16px;
  font-family: 'Montserrat', sans-serif;
}
