.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navdown{
  background-color: grey;
 
}



 /* skills css here */

/* .backgroundskills {
  background-color: rgb(219, 219, 219);
  padding: 50px;
}

.skillsborder {
  text-align: center;
}

.skills {
  border: 4px solid black;
  display: inline-block;
  padding: 10px 20px;
}

.usingnow,
.learning,
.other {
  font-size: 24px;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 155px;
}

.htmlimg,
.reactimg,
.jsimg,
.cimg {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.htmlimg > div,
.reactimg > div,
.jsimg > div,
.cimg > div {
  text-align: center;
  margin: 10px;
}

.img {
  height: 50px;
  width: auto;
}

.imgname {
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin-top: 10px;
} */

.backgroundskills {
  background-color: rgb(219, 219, 219);
  padding: 50px;
}

.skillsborder {
  text-align: center;
}

.skills {
   border: 4px solid black;
  text-align: center;
  width: fit-content;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 19px;
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 60px;
}

.usingnow,
.learning,
.other {
  font-size: 30px;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 12%;
}

.htmlimg,
.reactimg,
.jsimg,
.cimg {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%
}

.htmlimg,
.reactimg{
  margin-bottom: 20px;
}

.htmlimg > div,
.reactimg > div,
.jsimg > div,
.cimg > div {
  text-align: center;
  margin: 10px;
  height: 10%;
  width: 10%;
}

.img {
  height: 100px;
  width: auto;
}

.imgname {
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin-top: 10px;
}






/* // contact css here */
/* .contact{
  border: 4px solid black;
  
  display: flex;
  margin: 0px auto;
  width: fit-content;
 
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}
.contactborder{
  padding-top: 50px;
}
.button{
  border-bottom: none;
  border-left: 3px solid black;
  border-top: none;
  border-right: 3px solid black;
  background-color: rgb(229,229,229);
  margin-bottom: 40px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 700;
}

.contacttext{
  text-align: center;
  font-size: small;
  margin-top: 50px;

}
.inputarea{
  text-align: center;
  margin-top: 50px;  
}
.enteryourname{
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-top: none;
  border-right: none;
  background-color: rgb(229,229,229);
  width: 70vh;
  margin-top: 40px;
  height: 24px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 13px;
}
.enteryourname:focus {

  border-left: 3px solid black;
  border-bottom: 3px solid black;
}
.enteryourmail{
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-top: none;
  border-right: none;
  background-color: rgb(229,229,229);
  width: 70vh;
  margin-top: 50px;
  height: 24px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 13px;
}
.enteryourmail:focus {
  outline: none; 
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}

.phonenumber{
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-top: none;
  border-right: none;
  background-color: rgb(229,229,229);
  width: 70vh;
  margin-top: 50px;
  height: 24px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 13px;
}
.phonenumber:focus {
  outline: none; 
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}

.yourmessage{
  border: none;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  
  
  background-color: rgb(229,229,229);
  width: 70vh;
  margin-top: 50px;
  height: 90px;
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 13px;


}
.yourmessage:focus {
  outline: none; 
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}

.contactbackground{

  background-color:rgb(229,229,229);
  

  }

 .yourmessage::placeholder {
  transform: translate(-1px, -25px); 
  font-size: small; 
} */

/* .contactbackground {
  background-color: rgb(229, 229, 229);
}

.contact {
  border: 4px solid black;
  display: flex;
  margin: 0px auto;
  width: fit-content;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.contactborder{
  padding-top: 50px;
}


.button {
  border-bottom: none;
  border-left: 3px solid black;
  border-top: none;
  border-right: 3px solid black;
  background-color: rgb(229, 229, 229);
  margin-bottom: 40px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 700;
}

.contacttext {
  text-align: center;
  font-size: small;
  margin-top: 50px;
}

.contacttext img{
  padding-top: 30px;
}

.inputarea {
  text-align: center;
  margin-top: 50px;
}

.enteryourname,
.enteryourmail,
.phonenumber {
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-top: none;
  border-right: none;
  background-color: rgb(229, 229, 229);
  width: 70vh;
  margin-top: 40px;
  height: 24px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 13px;
  font-weight: 700;
  
  
}
.yourmessage{
  border: none;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  background-color: rgb(229,229,229);
  width: 70vh;
  margin-top: 50px;
  height: 90px;
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 13px;
  font-weight: 700;
}

.enteryourname:focus,
.enteryourmail:focus,
.phonenumber:focus,
.yourmessage:focus {
  outline: none;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}

.yourmessage::placeholder {
  transform: translate(-1px, -25px);
  font-size: small;
} */
/* Contact.css */

.contactbackground {
  background-color: rgb(229, 229, 229);
}

.contact {
  border: 4px solid black;
  display: flex;
  margin: 0px auto;
  width: fit-content;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.contactborder {
  padding-top: 50px;
}

.button {
  border-bottom: none;
  border-left: 3px solid black;
  border-top: none;
  border-right: 3px solid black;
  background-color: rgb(229, 229, 229);
  margin-bottom: 40px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 700;
}

.contacttext {
  text-align: center;
  font-size: small;
  margin-top: 50px;
}

.contacttext img {
  padding-top: 30px;
}

.inputarea {
  text-align: center;
  margin-top: 50px;
}

.enteryourname,
.enteryourmail,
.phonenumber,
.yourmessage {
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-top: none;
  border-right: none;
  background-color: rgb(229, 229, 229);
  width: 70vh;
  margin-top: 40px;
  height: 24px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 13px;
  font-weight: 700;
}

.yourmessage {
  border: none;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  background-color: rgb(229, 229, 229);
  width: 70vh;
  margin-top: 50px;
  height: 90px;
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 13px;
  font-weight: 700;
}

.enteryourname:focus,
.enteryourmail:focus,
.phonenumber:focus,
.yourmessage:focus {
  outline: none;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}

.yourmessage::placeholder {
  transform: translate(-1px, -25px);
  font-size: small;
}

/* Add styles for mobile responsiveness */
/* Add styles for mobile responsiveness */
@media only screen and (max-width: 414px) {

.imgseparator {
  margin-left: 110px;
  padding-top: 50px;
}
  .enteryourname,
  .enteryourmail,
  .phonenumber,
  .yourmessage {
    width: 250px;
  }

  .button {
    padding-left: 15px;
    padding-right: 15px;
  }
}



/* footer css */
/* 
.all{
  text-align: center;
  background-color:#1A1A1A;
  color: white;
  position: absolute;
  border: 0;
  width: 100%;
}
.footerimages{
  margin: left;
}

.img1footer{
  
  padding-top: 20px;
 
}
.img2footer{
  margin-bottom: 20px;
}
.img3footer{
  margin: 20px;
}
.img4footer{
  margin-bottom: 20px;
}
.img5footer{
  margin-bottom: 20px;
  padding-left: 20px;
}
.backtotop{
  padding: 20px;
  
}
.backtotop h6{
  margin-top: 5px;
}
 */


 .all {
  text-align: center;
  background-color: #1A1A1A;
  color: white;
  position: absolute;
  border: 0;
  width: 100%;
}

.footerimages {
  margin: left;
}

.img1footer {
  padding-top: 20px;
}

.img2footer,
.img3footer,
.img4footer {
  margin: 20px;
}

.img5footer {
  margin-bottom: 20px;
  padding-left: 20px;
}



.backtotop h6 {
  margin-top: 5px;
}




/* portfolio css here */
/* 
.portfolio{

  background-image: url('components/images/moutains.png');
  width: 100%;
  height: 110px;
  padding-top: 70px;
  
  

}

.portfoliotext{
  border: 4px solid black;
  
  display: flex;
  margin: 0px auto;
  width: fit-content;
 
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.portfolioattribute{
  display: flex;
  background-color: rgb(26,26,26);
  
}

.portfolioattribute div p {
  color: white;
 
}
.imgcolumn{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
  
  }
  .imgcolumn img {
       width: 100%;
    height: 290px; 
     
  
  }
  
.graystrip{
  background-color: rgb(26,26,26);
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}
 */
 .imgcolumn001{
  display: flex;
 }
 .portfolio {
  background-image: url('components/images/moutains.png');
  width: 100%;
  height: 110px;
  padding-top: 70px;
}

.portfoliotext {
  border: 4px solid black;
  display: flex;
  margin: 0px auto;
  width: fit-content;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px; ;
  font-weight: 700px;
}

.portfolioattribute {
  display: flex;
  background-color: rgb(26, 26, 26);
}

.portfolioattribute div p {
  color: white;
 }



 .taball {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: rgb(26, 26, 26);
  font-family: 'Montserrat', sans-serif;
}

.tab-bar {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tab {
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
  text-align: center;
  position: relative;
  color: white; /* Change the text color */
}

.tab:hover {
  text-decoration: underline;
  text-decoration-color: #fff; /* Change the underline color */
}


.imgcolumn {

  display: flex;
  flex-direction: row;
  margin-top: -5px;
}

.imgcolumn001 img {
  width: 100%;
  height: 312px;
  margin-bottom: -5px;
  margin-top: -1px;
}



.imgcolumn img{
  width: 33.3%;
  height: 312px;
}

.graystrip {
  background-color: rgb(26, 26, 26);
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}


 


/* first page css */
.navbarimg{
  margin-right: 40%;
  margin-top: 4%;
}
.firstpageitem{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.logo{
  height: 30px;
  width: 30px;
  margin-left: 110px;
  margin-top: 50px;
}

.text{
  margin-top: 150px;
  margin-left: 100px;
  font-family: 'Raleway', sans-serif;

}


.frontendimg{
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: rgba(215,215,215,1);
  width: 50%;
  
}
.imgtalib{
  background-color: black;
  width: 50%;
}

.imginsta{
  margin-left: 10px;
  padding-top: 35px;

}
.imgtwi{
  margin-left: 10px;
}
.frontendfonttext{
 color: rgba(144,144,144,1)
  
}
.imgat{
  margin-left: 100px;
}




/* Responsive styles for screens up to 768px width */
.responimg{
  display: none;
}
.text-overlay{
  display: none;
}
.developertext{
  display: none;
}

@media only screen and (max-width: 768px) {

  .responimg{
    display: block;
  }
  .text-overlay{
    display: block;
  }
  .developertext{
    display: block;
  }
 

.navbar {
  background-color: black;
  overflow: hidden;
  height: 50px;
  display: none;
}
.firstpageitem{
  display: none;
  flex-direction: row;
  justify-content: space-around;

}


.htmlimg, .reactimg, .jsimg, .cimg {
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  margin-left: 33%;
  /* margin-right: 117%; */
  flex-direction: column;
  margin-bottom: -57px;
}

.img001,.img002,.img003{
  display: block;
  margin-bottom: 20%; /* Adjust the margin as needed for spacing */
  height: 100px;
}
.img{
  display: none;
}
.imgname{
  display: none;
}
.learning, .other{
  display: none;
}

.imgcolumn001{
  display: block;

}
.imgcolumn{
  display: none;
}


.portfoliotext {
  border: 8px solid black;
  display: flex;
  margin: 0px auto;
 
  width: fit-content;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.usingnow, .learning, .other {
  font-size: 30px;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 12%;
  text-align: center;
}
.skills {
  border: 8px solid black;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 19px;
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 60px;
  font-size: 14px;
}



.imgname001 {
  font-size: 24px;
}
.imgname002{
  margin-left: 26px;
  font-size: 24px;
}
.imgname003{
  margin-left: 33px;
  font-size: 24px;
}

.img002,.img003{
  margin-top: 30px;
}

.imgcolumn001 img {
  width: 100%;
  height: 266px;
}
.responimg{
  width: 100%;
  position: relative;
  display: inline-block;
   
}
.text-overlay{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
font-size: 25px;
font-weight: bold;
text-align: center;

padding: 10px;

font-family: 'Advent Pro';
}
.developertext {
  position: absolute;
  top: 54%;
  left: 48%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 32px;
  /* font-weight: bold; */
  text-align: center;
  /* padding: 10px; */
  font-family: 'Montserrat', sans-serif;

}

.threerespon{
  
    position: absolute;
    top: 72%;
    left: 43%;
    transform: translate(-50%, -50%);
    color: white;
   
    
    flex-direction: row;
justify-content: space-between;


}
.separatorrepon {
  position: absolute;
  top: 64%;
  left: 48%;
  transform: translate(-50%, -50%);

}
.twitterimg{
  padding-left: 20px;
}
.linkedinimg{
  padding-left: 20px;
}
.instagramimg{
  padding-left: 48px;
}
.portfolioitem1{
  height: 257px;
}



}

