.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navdown{
  background-color: grey;
 
}

 /* skills css here */

.backgroundskills{
  background-color: rgb(236,236,236);
}
.skillsborder{
  padding-top: 30px;
  padding-bottom: 20px;
  margin-right: 60px;
  text-align: center;
}
.skills{
  border: 4px solid black;
  text-align: center;
  width: max-content;
  margin-left: 700px ;
  margin-right: 700px;
  padding-left: 50px;
  padding-right: 50px;
  


}
.usingnow{
  margin-left: 200px;
}
.htmlimg{
  text-align: center;
  display: flex;
}
.reactimg{
  text-align: center;
  display: flex;

}

.learning{
margin-left: 200px;
display: flex;
}

.jsimg{
  text-align: center;
  display: flex;

}

.other{
  margin-left: 200px;
  display: flex;
}

.cimg{
  text-align: center;
  display: flex;
}

.img1{
  text-align: center;
  margin-left: 250px;
  height: 50px;
  width: auto;
}
.img2{
  margin-left: 50px;
}
.img3{
  margin-left: 200px;
}
.img4{
  margin-left: 200px;
}
.img5{
  margin-left: 210px;
  padding-top: 50px;
}
.img6{
  margin-left: 210px;
  padding-top: 50px;
}
.img7{
  margin-left: 200px;
  padding-top: 50px;
}
.img8{
  margin-left: 230px;
  padding-top: 50px;  
}
.img9{
  margin-left: 200px;
}
.img10{
  margin-left: 200px;
}
.img11{
  margin-left: 200px;
}
.img12{
  margin-left: 200px;
}
.img13{
  margin-left: 200px;
}
.img14{
  margin-left: 200px;
}
.img15{
  margin-left: 200px;
}
.img16{
  margin-left: 200px;
}


/* // contact css here */
.contact{
  border: 4px solid black;
  
  display: flex;
  margin: 0px auto;
  width: fit-content;
 
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}
.contactborder{
  padding-top: 50px;
}
.button{
  border-bottom: none;
  border-left: 3px solid black;
  border-top: none;
  border-right: 3px solid black;
  background-color: rgb(229,229,229);
  margin-bottom: 40px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

.contacttext{
  text-align: center;
  font-size: small;
  

}
.inputarea{
  text-align: center;
  
}
.enteryourname{
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-top: none;
  border-right: none;
  background-color: rgb(229,229,229);
  width: 70vh;
  margin-top: 40px;
  height: 24px;
  
}
.enteryourmail{
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-top: none;
  border-right: none;
  background-color: rgb(229,229,229);
  width: 70vh;
  margin-top: 50px;
  height: 24px;
}

.phonenumber{
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-top: none;
  border-right: none;
  background-color: rgb(229,229,229);
  width: 70vh;
  margin-top: 50px;
  height: 24px;
}

.yourmessage{
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-top: none;
  border-right: none;
  background-color: rgb(229,229,229);
  width: 70vh;
  margin-top: 50px;
  height: 90px;
  margin-bottom: 40px;
}

.contactbackground{

  background-color:rgb(229,229,229);
  

  }


/* footer css */

.all{
  text-align: center;
  background-color:#1A1A1A;
  color: white;
}
.footerimages{
  margin: left;
}

.img1{
  padding-right: 200px;
  padding-top: 20px;
}
.img2footer{
  margin-bottom: 20px;
}
.img3footer{
  margin: 20px;
}
.img4footer{
  margin-bottom: 20px;
}
.img5footer{
  margin-bottom: 20px;
  padding-left: 20px;
}
.backtotop{
  padding: 20px;
}



/* portfolio css here */

.portfolio{

  background-image: url('./components/images/moutains.jpg');
  width: auto;
  height: 200px;
  padding-top: 100px;
  margin-top: -12px;
  

}
.portfoliotext{
  border: 2px solid black;
  width: fit-content;
  text-align: center;
  margin-left: 46%;
  font-size: 30px;
  padding: 40px;
  
}

.portfolioattribute{
  display: flex;

}


/* first page css */

.firstpageitem{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.logo{
  height: 30px;
  width: 30px;
  margin-left: 110px;
  margin-top: 50px;
}

.text{
  margin-top: 150px;
  margin-left: 100px;

}


.frontendimg{
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: grey;
  width: 50%;
  
}
.imgtalib{
  background-color: black;
  width: 50%;
}

.imginsta{
  margin-left: 10px;
  padding-top: 35px;

}
.imgtwi{
  margin-left: 10px;
}
.frontendfonttext{
 color: dark gray;
  
}
.imgat{
  margin-left: 100px;
}