.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navdown{
  background-color: grey;
 
}

 /* skills css here */

.backgroundskills {
  background-color: rgb(219, 219, 219);
  padding: 50px;
}

.skillsborder {
  text-align: center;
}

.skills {
  border: 4px solid black;
  display: inline-block;
  padding: 10px 20px;
}

.usingnow,
.learning,
.other {
  font-size: 24px;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 155px;
}

.htmlimg,
.reactimg,
.jsimg,
.cimg {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.htmlimg > div,
.reactimg > div,
.jsimg > div,
.cimg > div {
  text-align: center;
  margin: 10px;
}

.img {
  height: 50px;
  width: auto;
}

.imgname {
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin-top: 10px;
}






/* // contact css here */
.contact{
  border: 4px solid black;
  
  display: flex;
  margin: 0px auto;
  width: fit-content;
 
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}
.contactborder{
  padding-top: 50px;
}
.button{
  border-bottom: none;
  border-left: 3px solid black;
  border-top: none;
  border-right: 3px solid black;
  background-color: rgb(229,229,229);
  margin-bottom: 40px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 700;
}

.contacttext{
  text-align: center;
  font-size: small;
  margin-top: 50px;

}
.inputarea{
  text-align: center;
  margin-top: 50px;  
}
.enteryourname{
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-top: none;
  border-right: none;
  background-color: rgb(229,229,229);
  width: 70vh;
  margin-top: 40px;
  height: 24px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 13px;
}
.enteryourname:focus {
  outline: none; /* Remove the default focus outline */
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}
.enteryourmail{
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-top: none;
  border-right: none;
  background-color: rgb(229,229,229);
  width: 70vh;
  margin-top: 50px;
  height: 24px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 13px;
}
.enteryourmail:focus {
  outline: none; /* Remove the default focus outline */
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}

.phonenumber{
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-top: none;
  border-right: none;
  background-color: rgb(229,229,229);
  width: 70vh;
  margin-top: 50px;
  height: 24px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 13px;
}
.phonenumber:focus {
  outline: none; /* Remove the default focus outline */
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}

.yourmessage{
  border: none;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  
  
  background-color: rgb(229,229,229);
  width: 70vh;
  margin-top: 50px;
  height: 90px;
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 13px;


}
.yourmessage:focus {
  outline: none; /* Remove the default focus outline */
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}

.contactbackground{

  background-color:rgb(229,229,229);
  

  }

 .yourmessage::placeholder {
  transform: translate(-1px, -25px); /* Adjust the values to move the placeholder */
  font-size: small; /* You can adjust the font size if needed */
}


/* footer css */

.all{
  text-align: center;
  background-color:#1A1A1A;
  color: white;

  
  position: absolute;
  border: 0;
  width: 100%;




}
.footerimages{
  margin: left;
}

.img1footer{
  
  padding-top: 20px;
}
.img2footer{
  margin-bottom: 20px;
}
.img3footer{
  margin: 20px;
}
.img4footer{
  margin-bottom: 20px;
}
.img5footer{
  margin-bottom: 20px;
  padding-left: 20px;
}
.backtotop{
  padding: 20px;
}



/* portfolio css here */

.portfolio{

  background-image: url('components/images/moutains.png');
  width: 100%;
  height: 110px;
  padding-top: 70px;
  
  

}

.portfoliotext{
  border: 4px solid black;
  
  display: flex;
  margin: 0px auto;
  width: fit-content;
 
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.portfolioattribute{
  display: flex;
  background-color: rgb(26,26,26);
  
}

.portfolioattribute div p {
  color: white;
  /* Add any additional styling as needed */
}
.imgcolumn{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
  
  }
  .imgcolumn img {
       width: 100%;/* Adjust the width of the images as needed */
    height: 290px; /* Adjust the height of the images as needed */
     /* Adjust as needed for spacing between images */
  
  }
  
.graystrip{
  background-color: rgb(26,26,26);
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}




/* first page css */

.firstpageitem{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.logo{
  height: 30px;
  width: 30px;
  margin-left: 110px;
  margin-top: 50px;
}

.text{
  margin-top: 150px;
  margin-left: 100px;
  font-family: 'Raleway', sans-serif;

}


.frontendimg{
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: rgba(215,215,215,1);
  width: 50%;
  
}
.imgtalib{
  background-color: black;
  width: 50%;
}

.imginsta{
  margin-left: 10px;
  padding-top: 35px;

}
.imgtwi{
  margin-left: 10px;
}
.frontendfonttext{
 color: rgba(144,144,144,1)
  
}
.imgat{
  margin-left: 100px;
}