/* Hamburger.css */

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: black;
  }
  
  .line {
    width: 31px;
    height: 2.5px;
    background-color: white;
    margin: 5px 0;
    text-align: right;
    margin-left: 322px;
    margin-top: 8px;
}
  

.hamburger {
  background-color: black;
  height: 57px;
  display: none;
}

@media only screen and (max-width: 600px) {
    .hamburger {
        background-color: black;
        height: 57px;
        display: block;
    }
  
    .line {
      background-color: white;
    }
  
  }