/* Menu.css */

.menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 60px;
    transition: right 0.3s ease-in-out;
    display: none;
  }
  
  .menu.open {
   
    right: 0;
    opacity: 0.5;
    height: 27.4%;
  }
  .open{
    display: block;
  }
  .close-btn {
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .menu-item {
    color: white;
    font-size: 1.5rem;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #555;
  }
   
  .menu-item:hover {
    background-color: #fff; /* Change the background color on hover */
    color: #000; /* Change the text color on hover */
  }
  /* Mobile Responsiveness */
  @media only screen and (max-width: 600px) {
    .menu {
      width: 100%;
      right: 0;
    }
  
    .close-btn {
      top: 10px;
      right: 10px;
    }
  }
  